.input-wrapper {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 0px;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;
}

input{
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
}

input:focus{
    outline: none;
}

#search-icon{
    color: aqua;
}
.shopping-cart{
    background-color: transparent;
    width: 100%;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 0px;
    box-shadow: 0px 0px 4px #ddd;
    display: flex;
    align-items: center;
}
#cart{
    color: olivedrab;
    align-items: right;
    /* margin: 190px; */
    margin-left: 80%;
    padding-top: 20px;
    padding-bottom: 10px;
    height: 30px;
    padding: 0 0px;
    width: 80%;
}

button{
    background-color: green;
    height: 100%;
    width: 100%;
    color:rgb(4, 6, 5);
    font-size: 1rem;
}